<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<name>geolocationdata</name>
	<key>geolocationdata</key>
	<description>Installs IPs of countries from around the world</description>
    <author>Skalfa LLC</author>
    <authorEmail>GiperProger@gmail.com</authorEmail>
	<authorUrl>http://www.skalfa.com</authorUrl>
	<developerKey>5a2823209beb0450c79a1c033ed5c49c</developerKey>
    <build>1</build>
    <copyright>(C) 2009 Skalfa LLC. All rights reserved.</copyright>
	<license>The BSD License</license>
    <licenseUrl>http://www.opensource.org/licenses/bsdx-license.php</licenseUrl>
</plugin>